.form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.single.form {
  margin: 1rem 0;
}

.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: var(--input-bg);
  transition: 0.2s;
  color: var(--text-color);
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: rgb(17, 168, 255);
  background: var(--bg-color);
  box-shadow: 0 0 0 3px rgb(142, 211, 243);
}

.button {
  border: none;
  cursor: pointer;
  color: var(--text-color);
  background: transparent;
  font-size: 1rem;
  padding: 0 0.3rem;
  overflow: hidden;
}

.button:focus,
.button:hover {
  outline: none;
}

.button:focus svg path,
.button:hover svg path {
  fill: rgb(142, 211, 243);
  stroke: rgb(17, 168, 255);
}

.button:focus svg g,
.button:hover svg g {
  animation: latir 0.6s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actionsContainer {
  display: flex;
  align-items: stretch;
  gap: 0.1rem;
}